body{
	margin:0;
	padding:0;
	font-family:"宋体";
	}

.bg-x{background:url(bg-y.jpg) center top repeat-y; overflow:hidden;}
.bg1{background:url(bg1.jpg) center 0 no-repeat;}
.bg2{background:url(bg2.jpg) center 390px no-repeat;}

#container{width:100%;}

.main{}

.head{height:443px;}

.head_topnav{margin:0 auto;padding:0 0 0 818px;width:231px;}
.head_topnav a{float:left;width:85px;height:35px;}
.newService{margin:0 auto;padding: 300px 815px 0 0;width:165px;color:#2b0000;line-height:25px;}
.newService h3{margin:0;font-size:16px;padding:3px 0;font-weight:bold;border-bottom:1px solid #340101; text-align:center;}
.newService p{font-size:14px;margin:0;}
.newService p a{color:#180900; text-decoration:none;}
.newService select{margin:10px 0 0;width:160px;height:20px;line-height:20px;color:#fceb9e;border:1px solid #210000; background:#450202;}
.main{
	
	min-height:1200px;
	}
	
.content{
	margin:0 auto;
	padding:17px 0 0 0;
	width:980px;
	}

.e_con{
	float:left;
	width:791px;
	}

.e_list{
	float:right;
	width:182px;
	}

.e_roll{
	background:url(e_list.png) no-repeat;
	height:475px;
	}

.e_rotab{
	padding:44px 0 0 0;
	}

.e1{padding:3px;background-color:#e9c356;width:779px;border:3px solid #c1852e;}

.e2{
	margin:8px 0 0 0;
	padding:3px;
	background-color:#e9c356;
	width:779px;
	border:3px solid #c1852e;
	}

.e3{
	margin:8px 0 0 0;
	padding:5px;
	background-color:#e9c356;
	width:775px;
	border:3px solid #c1852e;
	}

.etab{
	padding:10px 0 0 0;
	background-color:#ffedb9;
	}
	
.epic{
	padding:0 0 0 12px;
	}

.ebtn{
	padding:16px 0 12px 0;
	}

.elab{
	padding:12px 0 12px 12px;
	}
	
.foot{
	float:left;
	width:100%;
	margin:12px 0 0 0;
	background:url(foot_bg.jpg);
	height:105px;
	}

.ftab{
	padding:30px 0 0 0;
	}

.go-top a{
	background:url(go-top.png);
	display:block;
	width:182px;
	height:36px;
	margin-top:10px;
}
/*-----------------其他样式---------------*/
img{
	border:0;
	}
/*-----------------表样式---------------*/
.tab{
	background-color:#562b00;
	}

/*----------------字体样式----------------*/
.title1{
	font-size:16px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	}

.fnt1{
	font-size:12px;
	color:#130000;
	text-align:center;
	line-height:36px;
	}
	
.fnt1 a{
	font-size:12px;
	color:#130000;
	text-align:center;
	line-height:36px;
	text-decoration:none;
	}
	
.fnt1 a:hover{
	font-size:12px;
	color:#130000;
	text-align:center;
	line-height:36px;
	text-decoration:underline;
	}
	
.fnt2{
	font-size:12px;
	color:#382208;
	text-align:center;
	height:30px;
	line-height:30px;
	}

.fnt2 a{
	font-size:12px;
	color:#382208;
	text-align:center;
	height:30px;
	line-height:30px;
	text-decoration:none;
	}

.fnt2 a:hover{
	font-size:12px;
	color:#382208;
	text-align:center;
	height:30px;
	line-height:30px;
	text-decoration:underline;
	}

.fnt3{
	font-size:12px;
	color:#382208;
	text-align:center;
	height:36px;
	line-height:36px;
	}

.fnt3 a{
	font-size:12px;
	color:#382208;
	text-align:center;
	height:36px;
	line-height:36px;
	text-decoration:none;
	}

.fnt3 a:hover{
	font-size:12px;
	color:#382208;
	text-align:center;
	height:36px;
	line-height:36px;
	text-decoration:underline;
	}

.fnt4{
	font-size:12px;
	color:#130000;
	text-align:center;
	line-height:62px;
	height:62px;
	}

.fnt5{
	font-size:12px;
	color:#ac0000;
	text-align:center;
	height:62px;
	font-weight:bold;
	}

.fnt6{
	font-size:12px;
	color:#130000;
	text-align:center;
	height:62px;
	}

.fnt7{
	font-size:12px;
	color:#130000;
	text-align:center;
	line-height:38px;
	height:38px;
	}

.fnt8{
	font-size:12px;
	color:#ac0000;
	text-align:center;
	height:38px;
	font-weight:bold;
	}

.fnt9{
	padding:12px;
	font-size:12px;
	color:#130000;
	line-height:25px;
	}

.fnt10{
	padding:12px 12px 12px 0;
	font-size:12px;
	color:#ac0000;
	}

.fnt11{
	font-size:12px;
	color:#ac0000;
	font-weight:bold;
	}

.fnt12{
	height:18px;
	text-indent:8px;
	font-size:12px;
	color:#130000;
	}

.fnt13{
	height:18px;
	text-align:center;
	font-size:12px;
	color:#130000;
	}

.fnt14{
	font-size:22px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	}

.fnt15{
	padding:8px 0 8px 0;
	height:18px;
	text-align:center;
	font-size:12px;
	color:#130000;
	}

.fnt16{
	padding:0 0 0 8px;
	font-size:12px;
	color:#c9c9c9;
	}
	
.fnt16 a{
	text-decoration: none;
	color:#C9C9C9;
	}

.fnt17{
	height:18px;
	text-align:center;
	font-size:16px;
	color:#130000;	
	height:32px;
	}

.fnt18{
	font-size:12px;
	color:#130000;
	}

/*----------------颜色样式----------------*/
.light {background-color:#f2da90;}
.deep {background-color:#e0bd70;}