<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<context-param>
		<param-name>org.apache.tiles.CONTAINER_FACTORY</param-name>
		<param-value>org.apache.struts2.tiles.StrutsTilesContainerFactory</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/tiles/tiles.xml,
		/WEB-INF/tiles/tiles-adminlogin.xml,
		/WEB-INF/tiles/tiles-adminPermission.xml,
		/WEB-INF/tiles/tiles-adminUser.xml,
		/WEB-INF/tiles/tiles-videoManage.xml,
		/WEB-INF/tiles/tiles-adminNews.xml,
		/WEB-INF/tiles/tiles-adminPhoto.xml,	
		/WEB-INF/tiles/tiles-adminNews.xml,
		/WEB-INF/tiles/tiles-adminMessage.xml,
		/WEB-INF/tiles/tiles-adminHomepage.xml,
		/WEB-INF/tiles/tiles-adminMessage.xml,
		/WEB-INF/tiles/tiles-adminDirty.xml,
		/WEB-INF/tiles/tiles-gameManage.xml,
		/WEB-INF/tiles/tiles-adminGameServer.xml,
		/WEB-INF/tiles/tiles-adminServerResource.xml,
		/WEB-INF/tiles/tiles-adminTestManage.xml,
		/WEB-INF/tiles/tiles-adminGamedate.xml,
		/WEB-INF/tiles/tiles-adminAdInfo.xml,
		/WEB-INF/tiles/tiles-adminActivityInc.xml,
		/WEB-INF/tiles/tiles-adminGamedataType.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>urlFilter</filter-name>
		<filter-class>com.sz7road.web.common.filter.UrlFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>ftlFilter</filter-name>
		<filter-class>com.sz7road.web.common.filter.FtlFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>ftlFilter</filter-name>
		<url-pattern>*.ftl</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>urlFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.sz7road.web.common.listener.ApplicationInitListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
	<servlet>
	  <servlet-name>JSPSupportServlet</servlet-name>
	  <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
	  <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
	  	 <servlet-name>captcha</servlet-name>
	 	 <servlet-class>com.sz7road.web.common.servlet.CaptchaServlet</servlet-class> 
 	</servlet>
 	
 	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>com.fivestars.interfaces.bbs.api.UC</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
    <servlet-mapping>
    	<servlet-name>api</servlet-name>
		<url-pattern>/api/uc.php</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		  <servlet-name>captcha</servlet-name>
		  <url-pattern>/captcha.do</url-pattern>
	</servlet-mapping>
	
	 
	<taglib>
		<taglib-uri>/WEB-INF/displaytag.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/displaytag.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/displaytag-el.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/displaytag-el.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/pager-taglib.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/pager-taglib.tld</taglib-location>
	</taglib>

</web-app>
